<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<% @cart.line_items.each do |line_item| %>
  <%= render partial: "line_items/line_item", locals: { line_item: line_item } %> 
<% end %>

<p><%= order_total(@cart) %></p>

<%= checkout %>