<div class="categories">
  <%= category_list(@categories) %>
</div>

<h2>Items</h2>
<div class="items">
  <% @items.each do |item| %>
    <p><%= item.title %> | <%= item_price(item) %> | <%= add_to_cart(item) %></p>
  <% end %>
</div>
