<nav class="">
  <div class="container">
    <ul class="main-menu">
      <li> <%= link_to "Store Home", store_path %> </li>
      <%= nav_cart %>
      <%= nav_session_links %>
      
      
    </ul>
  </div>    
</nav>